*.lck
*.net
.DS_Store
CCleaner.lnk
fp-info-cache
*.html
*.gbr
*.gbrjob
*.odt
*.rar
*.zip
*.drl
*.xml
*.pdf
*.docx
*.dxf
*.frw
*.csv
*.cdw
*.dwg
*.xlsx
*.png
*.kicad_prl
\#auto_saved_files#
_autosave-*
*-backups/
